/*
:root {

    --atomic: #374953;

    --hoki: #5F7D8C;

    --snow: #FCFCFC;

    --oyster-bay: #D6E8E8;

    --link-water: #CFD0D1;

    --gull-grey: #A5ADB1;

}

*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #c0e2f7;
}

body {
  background-color: #375A70;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

#layout {
  height: 100%;
}

.toolbar {
  position: relative;
  z-index: 1;
}

.map {
  margin-top: -56px;
  position: relative;
  height: 100%;
  z-index: 0;
}

#map-zoomer.without-left-panel {
  position: absolute;
  left: 100%;
  top: 62px;
  margin-left: -50px;
  z-index: 1;
}

#map-zoomer.with-left-panel {
  position: absolute;
  left: 100%;
  top: 62px;
  margin-left: -460px;
  z-index: 1;
}

#map-navigator {
  position: absolute;
  left: 10px;
  top: 70px;
  z-index: 1;
}

#map-navigator .top-row, #map-navigator .bottom-row, #map-navigator .middle-row {
  text-align: center;
}

#map-navigator .arrow-right {
  margin-left: 30px;
}

#stage {
  background-color: #375A70;
  position: absolute;
}

#left-panel {
  position: absolute;
  left: 100%;
  top: 70px;
  margin-left: -410px;
  width: 400px;
  z-index: 1;
}

#draw-marker {
  position: relative;
  z-index: 3;
}

#draw-marker .circle{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 80px;
  top: -80px;
  left: -80px;
  width: 160px;
  height: 160px;
  position: absolute;
}

.draw-marker-button {
  position: absolute;
}

#draw-marker .vline {
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #FCFCFC;
}

#draw-marker .hline {
  position: absolute;
  background-color: #FCFCFC;
  width: 16px;
  height: 2px;
}

#draw-marker .slot {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 23px;
  padding: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
}

#draw-marker .allocated-slot {
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

input[type=button] {
  background: none;
  border: 1px solid #c0e2f7;
  padding: 2px 5px;
  border-radius: 3px;
  color: #c0e2f7;
}
